.makeupGallery {
    display: flex;
    flex-wrap: wrap;
    min-height: 30vh;

    .searchItem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: calc(100%/3 - 40px);
        margin: 20px;
        border: 1px solid $tealBlue;
        color: $rubyRed;

        img {
            margin: 0 auto 5px;
            border: 1px solid $lavenderWeb;
        }

        h3, h4 {
            border: 1px solid $lavenderWeb;
        }

        p {
            border: 1px solid $lavenderWeb;
        }
    }
}