.makeupGallery {
    min-height: 30vh;
    padding: 20px 0;

    .showLoadingIcon {

        .loadingIcon {
            border: 16px solid $lightGrey;
            border-top: 16px solid $persianIndigo;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin: 20px auto;
            animation: spin 2s linear infinite;
        }

        p {
            text-align: center;
        }
    }

}

.makeupContainer {
    display: flex;
    flex-wrap: wrap;
    
    .searchItem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: calc(100%/3 - 40px);
        margin: 20px;
        color: $white;

        h3, h4, p {
            background: $rubyRed;
            padding: 3px 5px;
        }

        img {
            margin: 0 auto 5px;
            color: $black;
            // border: 1px solid $lavenderWeb;
        }
    }
}


// keyframe for loadingIcon
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}