.makeupGallery {
    display: flex;
    flex-wrap: wrap;
    min-height: 30vh;

    .searchItem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: calc(100%/3 - 40px);
        margin: 20px;
        color: $white;

        h3, h4, p {
            background-color: $rubyRed;
        }

        img {
            margin: 0 auto 5px;
            color: $black;
            // border: 1px solid $lavenderWeb;
        }
    }
}