@media (max-width: 945px) {
    .searchBar, .buttonContainer {
        min-height: 10vh;
    }
    
    .buttonContainer {
        flex-wrap: wrap;

        button {
            border-color: $lavenderGrey;
        }

        button:hover, button:focus, button:active {
            border-left: 2px solid $persianIndigo;
            border-right: 2px solid $persianIndigo;
        }
    }
}

@media (max-width: 894px) {
    .makeupContainer {

        .searchItem {
            width: calc(100%/2 - 40px);
        }
    }
}

@media (max-width: 551px) {
    header {
        
        h1 {
            font-size: 6rem;
        }
    }

    .searchBar, .buttonContainer {
        min-height: 11vh;
    }
    
    .makeupContainer {

        .searchItem {
            width: calc(100% - 40px);
        }
    }
}

@media (max-width: 400px) {
    header {
        height: 45vh;

        h1 {
            font-size: 4rem;
        }
    }

    .searchBar, .buttonContainer {
        min-height: 22vh;
    }

    .buttonContainer {
        flex-direction: column;
        // flex-wrap: nowrap;

        button {
            width: 50%;
            padding: 1px 15px;
        }
    }
}